body {
	background-image: url(1.jpg);
	background-size: 1920px 1012px;
	background-color: #01050D;
	margin: 0;
	padding: 0;
	font: 30px Helvetica, Arial, sans-serif;
	font-weight: medium;
	color: #fff;
}

.menu{
	display: inline-block;
	width: 300px;
	height: 1012px;
	background-color: rgba(111,182,132,0.25);
	float: left;
}

.navigation{
	display: inline-block;
	margin-top: 200px;
	padding: 0;
	width: 100%;
}

.navigation ul{
	margin: 0;
	padding: 0;
	text-align: center;
}

.navigation ul li {
	margin-top: 25px;
	list-style: none;
}

.navigation ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #fff;
}

.navigation ul li a:hover{
	color: #7F3096;
	transition: 1s;
	text-shadow: #000 2px 2px 8px;
	
}
 

.social {
	margin-top: 500px;
	width: 100%;
	text-align: center;
}

.social a{
	text-align: center;
	margin: 12px;
}

.logo {
	font: 48px Adler;
	font-style: italic;
	display: inline block;
	float: right;
	margin: 60px 190px 0 0;
}


.text {
	font: 80px AA Haymaker;
	font-style: italic;
	font-weight: bold;
	float: right;
	display: inline-block;
	margin: 310px 190px 0 0;
	width: 1300px;
	text-align: right;
	line-height: 130px;
}

.button	{ 
	width: 350px;
	height: 70px; 
	background-color: rgba(255,132,132,0.25);
	border: 1px dashed #fff;
	display: inline-block;
	float: right;
	margin: 80px 190px 0 0;
	text-align: center;
	font-weight: lighter;
	line-height: 70px;
}

.button span{
	font-size: 28px;
	display: inline-block;
	vertical-align: middle;
}

.button a{
	color: #fff;
}

.button:hover {
	background-color: #93117D;
	transition: 2s;
}